.Navbar {
    height: 50px;
    width: 100%; 
    margin-bottom: 25px;
    -webkit-box-shadow: 0 1px 2px #777;
	-moz-box-shadow: 0 2px 1px #777;
	box-shadow: 0 2px 1px #777;
}

.Navbar ul {
    list-style: none;
    display: flex;
    margin: auto 15px auto 0;
    float: right;
    height: 100%;
}

.Navbar p {
    font-weight: bold;
    margin-right: 10px;
}

.Navbar li {
    margin-right: 5px;
    font-weight: bold;
    padding: 0 10px;
    height: 100%;
}

.Navbar li:hover {
    border-bottom: 3px solid steelblue;
    background-color: rgba(0, 0, 0, 0.1);
}

.Navbar li:active {
    border-bottom: 1px solid steelblue;
    background-color: steelblue;
}

.NavLink {
    height: 70%;
    padding-top: 15px;
    display: block;
    text-decoration: none;
    color: black;
}

.NavLink:active {
    color: white;
}
